
<%- include("./include/headfile.ejs") %>


<%- include("./include/navbar.ejs") %>




<div style="background-color: cadetblue;width: 95vw;margin-left: 2vw;min-height:90vh;padding: 1%;display: flex;flex-direction: column;">
   <% for( let ele of allmsg ) { %>
        <div class="card" 
        <% if (currentuser && ele.user==currentuser.username) { %>
     style="align-self: self-end"
    <% } %>>
         
            <div class="card-body">
              <% if (currentuser && ele.user!=currentuser.username) { %>
               <h5 class="card-title"><a href="/chatbox/<%= ele.user %>/profile"><%= ele.user %></a></h5>
              <% } %>

              <p class="card-text"><%= ele.msg %></p>
              
                  <% if (currentuser && currentuser.username==ele.user) { %>

                    <div style="display: flex;margin: 1%;">
                    <a  href="/chatbox/<%= ele.id %>/edit" class="card-link btn btn-outline-dark mx-2">EDIT</a>
              <form action="/chatbox/<%= ele.id %>/delete?_method=DELETE" method="post">
                <button class="card-link card-link btn btn-outline-dark ">DELETE</button>
              </form>  
                    </div>
                   
                    
                  <% } %>
            </div>
          </div>
    <div ></div>
    <div></div>
    <br>
    <% } %>



    <%- include("./include/flash.ejs") %>
</div>
<div style="height: 10vh;">
</div>

   
    <%- include("./include/newmsg.ejs") %>
</body>
<script src="/code.js"></script>
</html>